/* Major elements */
body {
  background-color: #27374d;
  color: #dde6ed;
}

/* Specifics */
.hidden {
  display: none;
}

#mainDiv {
  float: left;
  width: 46%;
  padding: 1%;
  border: 2px black dotted;
  margin: 0 2% 0 1%;
  color: #192734;
  background-color: #526d82;
  box-sizing: border-box;
}

#resultsDiv {
  float: left;
  width: 46%;
  padding: 1%;
  border: 2px black dashed;
  margin: 0 2% 0 1%;
  color: #192734;
  background-color: #526d82;
  box-sizing: border-box;
}

#results-col-left {
  float: left;
  width: 46%;
  padding: 1%;
  border: 2px black dashed;
  margin: 0 2% 0 1%;
}

#results-col-right {
  float: left;
  width: 46%;
  padding: 1%;
  border: 2px black dashed;
  margin: 0 2% 0 1%;
}

#image-program-language {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}
